gallery-container {
  width: 70%;
  margin: auto; }

.separator-doubled {
  display: none; }

.fill-back {
  border: 2px #ffffff double;
  box-shadow: 0px 0px 20px 8px #000000;
  background-color: #38322d;
  width: 97%;
  margin: auto;
  padding-top: 0.5%;
  padding-bottom: 0.5%; }
